/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #285b52;
}

.container1 p {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  margin-left: 11%;
}

.container1 li {
  list-style: none;
  margin-left: 35px;
}

.container1 li a {
  color: white;
  margin-left: 30px;
  margin-right: 0;
}

.container1 li a:hover {
  text-decoration: none;
}

.container1 .diff-list .fa-times {
  color: rgb(204, 204, 204);
  margin-left: 100px;
  cursor: pointer;
  font-size: 14px;
}

.container1 .diff-list .fa-times:hover {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
}

header {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: fill(56);
  margin-right: 50px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li a {
  color: #818181;
  /* Text color */
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  position: relative;
}

.nav-links li a:hover {
  color: rgb(65, 65, 65);
  /* Hover color */
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions .secondary {
  text-decoration: none;
  margin: 10px;
  color: #818181;
  font-size: 14px;
  font-weight: 600;
}

.user-actions .secondary:hover {
  color: rgb(65, 65, 65);
}

.user-actions .fa {
  font-size: 22px;
  padding-right: 20px;
  border-right: 1px solid #818181;
}

.user-actions .button {
  background-color: #0d0e10;
  /* Button background color */
  color: #fff;
  /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 20px;
}

.button:hover {
  background-color: #f06a6a;
  /* Button hover background color */
}

.menu-toggle {
  display: none;
}

/* Content */
.content {
  width: 100%;
}

.product-launch-plan {
  background-color: #FFEAEC;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.launch-plan-text h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 70px;
}

.launch-plan-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;

}

.launch-plan-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 40px;
}

.launch-plan-btn .launch-plan-btn1 {
  padding: 12px 25px 12px 25px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #0d0e10;
  color: white;
}

.launch-plan-btn .launch-plan-btn2 {
  padding: 12px 25px 12px 25px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #0d0e10;
  background-color: #FFEAEC;
}

.launch-plan-img img {
  width: 100%;
}

.fortune {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fortune h4 {
  padding-top: 34px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}


.fortune-img img {
  width: Hug (198px)px;
  height: Hug (88px)px;
  gap: 0px;
  opacity: 0px;
  padding: 24px;
}

/* different-department */
.different-department {
  width: 100%;
  background-color: #F5F3F3;
}

.department-asana {
  width: 90%;
  margin: 0 auto 20px;
  padding-bottom: 40px;
}

.department-asana h3 {
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -1px;
  text-align: left;
  padding-top: 60px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.department-asana form {
  display: none;
}

.department-asana .department-asana-btn {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 25px;
}

.department-asana-btn button.active {
  background-color: #FCE0DD;
}

.department-asana-btn button {
  padding: 10px 20px;
  gap: 0px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  opacity: 0px;
}

.department-asana-launch {
  margin-left: 25px;
  display: flex;
  gap: 80px;
}

.department-asana-launch .department-asana-text h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.department-asana-launch .department-asana-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-left: 12px;
}

.department-asana-text button {
  padding: 12px 25px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  margin-top: 15px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #0d0e10;
  color: white;
  cursor: pointer;
}

/* What sets Asana apart */
.con-asana-apart {
  width: 100%;
}

.asana-apart {
  width: 90%;
  margin: 0 auto 20px;
  padding-bottom: 6%;
  border-bottom: 1px solid #9b9b9b;
}

.asana-apart h3 {
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -1px;
  text-align: left;
  padding: 35px;
}

.asana-apart-text {
  padding: 20px;
}

.asana-apart-text h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

.asana-apart-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 42px;
}

.asana-apart-text button {
  padding: 12px 25px;
  border-radius: 3px;
  border: 1px solid rgb(90, 90, 90);
  opacity: 0px;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
}

.asana-apart-launch img {
width: 100%;
}








/* @media Query */
@media (max-width: 1024px) {
  .container1 p {
    font-size: 14px;
  }

  .container {
    max-width: 900px;
  }

  .dropdown-menu {
    position: absolute;
    top: -200%;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .container .dropdown-menu li {
    display: block;
    margin-bottom: 40px;
    margin-top: 25px;
    border-bottom: 1px solid rgb(163, 163, 163);
  }

  .container .dropdown-menu li a {
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 15px;
    color: black;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1001;
  }

  .menu-toggle i {
    display: block;
    background-color: #fff;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }

  .menu-toggle.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.open span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .fortune-img img {
    width: Hug (100px)px;
    height: Hug (80px)px;
    gap: 0px;
    opacity: 0px;
    padding: 24px;
  }

  .department-asana {
    width: 90%;
  }

  .department-asana h3 {
    font-size: 30px;
  }

  .department-asana-launch img {
    width: 65%;
  }

  .department-asana-launch .department-asana-text p {
    font-size: 12px;
  }
  .asana-apart-text {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    margin-right: -20px;
  }
  .asana-apart-text h4 {
    font-size: 16px;
    font-weight: 700;
  }
  
  .asana-apart-text p {
    font-size: 13px;
  }
  .asana-apart-text button {
    padding: 10px 15px;
    font-size: 13px;
  }
  .asana-apart-launch img {
    width: 65%;
  }
  

}

@media (max-width: 968px) {
  .container1 p {
    font-size: 11px;
    margin-left: 8px;
  }

  .container1 li a {
    font-size: 11px;
    margin-left: 8px;
  }

  .container1 .diff-list .fa-times {
    margin-left: 50px;
  }

  .container {
    max-width: 600px;
  }

  .fortune h4 {
    font-size: 18px;
  }

  .fortune-img img {
    width: 140px;
    height: Hug (80px)px;
    gap: 0px;
    opacity: 0px;
    padding: 24px;
  }

  .department-asana {
    width: 80%;
  }

  .department-asana h3 {
    font-size: 25px;
  }

  .department-asana-btn button {
    padding: 6px 12px;
    font-size: 13px;

  }

  .department-asana-launch {
    gap: 22px;
  }

  .department-asana-launch .department-asana-text h4 {
    font-size: 16px;
  }

  .department-asana-launch .department-asana-text p {
    font-size: 10px;
  }

  .department-asana-text button {
    padding: 7px 10px;
    font-size: 14px;
  }
  .asana-apart-text {
    padding: 7px;
  }
  .asana-apart{
    width: 90%;
  }
  .asana-apart-text h4 {
    font-size: 13px;
    font-weight: 700;
  }
  
  .asana-apart-text p {
    font-size: 12px;
  }
  
  .asana-apart-text button {
    padding: 10px 15px;
    font-size: 12px;
  }
  .asana-apart-launch img {
    width: 65%;
  }
  

  /* 
  .department-asana h3{
    font-size: 30px;
  }
  .department-asana-launch img{
    width: 65%;
  }
  .department-asana-launch .department-asana-text p {
    font-size: 12px;
  } */
}

@media (max-width: 650px) {
  .user-actions .secondary {
    display: none;
  }

  .container {
    max-width: 400px;
  }

  .container1 p {
    font-size: 8px;
    margin-left: 5px;
    margin-top: 6px;
  }

  .container1 li {
    margin-left: 5px;
  }

  .container1 li a {
    font-size: 8px;
  }

  .container1 .diff-list .fa-times {
    margin-left: 20px;
    font-size: 8px;
  }

  .product-launch-plan {
    background-color: #fff;
  }

  .launch-plan-text h2 {
    font-size: 43px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;

  }

  .launch-plan-text p {
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;

  }

  .fortune h4 {
    font-size: 16px;
  }

  .fortune-img img {
    width: 130px;
    height: Hug (40px)px;
    gap: 0px;
    opacity: 0px;
    padding: 24px;
  }

  .department-asana {
    width: 90%;

  }

  .department-asana h3 {
    padding-left: 8px;
  }

  .department-asana-launch {
    display: flex;
    flex-direction: column;
    margin-left: -0.00px;
  }

  .department-asana-btn {
    display: none;
  }

  .department-asana-launch img {
    width: 100%;
  }

  .department-asana-launch .department-asana-text h4 {
    font-size: 18px;
  }

  .department-asana-launch .department-asana-text p {
    font-size: 14px;
  }

  .department-asana-text button {
    padding: 7px 10px;
    font-size: 14px;
  }

  .department-asana form {
    display: block;
  }

  .department-asana form #depart {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    width: 300px;
    margin-left: 4px;
    margin-bottom: 25px;
  }

  .department-asana form #depart option {
    padding: 10px;
  }
}


@media (max-width: 470px) {
  .container1 p {
    font-size: 7px;
    margin-left: px;
    margin-top: 6px;
  }

  .container1 li {
    margin-left: px;
  }

  .container1 li a {
    font-size: 6px;
  }

  .container1 .diff-list .fa-times {
    margin-left: 5px;
    font-size: 8px;
  }

  .container {
    max-width: 300px;
  }

  .user-actions .button {
    padding: 10px 10px;
    font-size: 14px;
    margin-left: 3px;
  }

  .menu-toggle i {
    margin-right: 5px;
    font-size: 17px;
  }

  .launch-plan-btn .launch-plan-btn2 {
    display: none;
  }

  .fortune-img {
    display: flex;
    flex-direction: column;
  }

  .department-asana form #depart {
    width: 250px;
  }

  .department-asana form #depart option {
    padding: 25px;
  }
}